{% extends 'base.html.twig' %}

{% block title %}Édition{% endblock %}

{% block body %}
    <h1>Édition</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
